.video-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-grid-item {
    font-family: sans-serif;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 10px 15px;
    margin: 5px 10px;
    user-select: none;
    overflow-x: auto;
}

.youtube-video {
    width: 350px; 
    height: 200px;
}